@{
   
    Layout = null;
    ViewData["HideNavbar"] = true;

}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=5, minimum-scale=1.0s" />
        <link rel="stylesheet" href="~/css/Principal.css" asp-append-version="true">
    </head>

<body >
    <div class= "background-Imagen"></div>
        <div class="contenedor-Imagen">
            <h1 class = "titulo"> Ingelab </h1>
            <p class ="TextoAcerca">  
                Aceleramos la resolución de retos tecnológicos de empresas mediante
                ingeniería de sistemas a la medida. Desde el diagnóstico hasta la
                implementación, convertimos problemas complejos en soluciones claras,
                medibles y seguras.
            </p>
        </div>

        <div class = "servicios" >
            <h2 class = "tituloServicios">Servicios</h2>
            <p class ="TextoServico">  
                si tu empresa tiene un problema tecnológico, en IngeLab encontrarás al ingeniero perfecto para resolverlo, sin procesos de selección largos ni riesgos innecesarios
            </p>

            <svg class = "logo1"viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" >
                <path d="M6 2h9l5 5v15a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1z"></path>
                <line x1="9" y1="7" x2="15" y2="7"></line>
                <line x1="9" y1="12" x2="15" y2="12"></line>
                <line x1="9" y1="17" x2="13" y2="17"></line>
                <circle cx="18" cy="18" r="2"></circle>
                <line x1="18" y1="16" x2="18" y2="18"></line>

            </svg>

        </div>
    
</body>