@{
   
    Layout = null;
    ViewData["HideNavbar"] = true;

}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=5, minimum-scale=1.0s" />
        <link rel="stylesheet" href="~/css/Principal.css" asp-append-version="true">
    </head>

<body >
    <div class= "background-Imagen"></div>
        <div class="contenedor-Imagen">
            <h1 class = "titulo"> Ingelab </h1>
        </div>
    
</body>