# Archivos específicos del usuario y temporales de Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/

# Carpetas de compilación
[Bb]in/
[Oo]bj/

# Paquetes de NuGet
packages/
*.nupkg

# Archivos de publicación
[Pp]ublish/
[Rr]elease/

# Archivos del sistema operativo
[Tt]humbs.db
*.DS_Store

# Archivos de herramientas
*.DotSettings.user

# Ignorar los datos de la base de datos de Docker
BD_Dockerizada/data_postgres/