
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}





.background-Imagen{  
    height: 80vh;
    width: 100vw;
    z-index: -1; /*orden en mostrar en la pagina, fondo  */
    background-image:url("https://i.imgur.com/xDoGhKE.jpeg");
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(20px);
    filter: brightness(60%); 
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.contenedor-Imagen{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 10;
    justify-content: center;

}

.titulo{
    color: white; /* Cambio principal */
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin: 0;
    z-index: 15;
}

.TextoAcerca{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 2rem;
    text-align: center;
    color: white;

}

.servicios{

    position: relative;
}

.tituloServicios{
    text-align: center;
    color: #000;
    font-size: 2.5rem;
}

.TextoServico{
    text-align: center;
    color: black;
    font-size: 1.5rem;
}

.logo1{
    width: 8%;        /* Tamaño fijo */
    height: 8%;
    color: #007BFF;     /* Cambia el color del trazo */
    display: block;
   
}